@import "tailwindcss";

@theme {
  --color-primary: #fa4549;
  --color-primary-pressed: #ff2d2a;
  --color-primary-bg: #ffefef;

  --color-white: #ffffff;
  --color-gray-bg: #f9fafb;
  --color-gray-disable: #9fa4a9;
  --color-gray: #4b5259;
  --color-black: #00000a;
}

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
